{% extends "::base.html.twig" %}
{% form_theme form 'AppBundle::Form/fields.html.twig' %}

{% block title %}{{ parent() }} :: Supplier {{ submit_label|default('Add') }}{% endblock %}

{% block body %}

    <h2 class="text-center">Supplier details:</h2>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <div class="form-group text-center">
        <input type="submit" value="{{ submit_label|default('Add') }}" class="btn btn-lg btn-info" />
    </div>
    <div class="form-group text-center">
        <a class="btn btn-xs btn-info" href="{{ path('supplier_contact_create', {'supplier_id': supplier_id}) }}" role="button">Add contact</a>
    </div>
    {{ form_end(form) }}
{% endblock %}