{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} :: Suppliers list{% endblock %}

{% block body %}
    <h2 class="text-center">List of suppliers</h2>
    <div class="row">
        <ul class="list-unstyled col-sm-10 col-sm-offset-1">
            {% for s in suppliers %}
                <li>{{ s.getName }} - iban: {{ s.getIban }}
                    <a href="{{ path('supplier_update', {'id': s.id})  }}">
                        <span class="glyphicon glyphicon-option-vertical pull-right list-edit-item" aria-hidden="true"></span>
                    </a>
                    <a href="#"
                       data-href="{{ path('supplier_delete', {'id': s.id}) }}"
                       data-toggle="modal"
                       data-target="#confirm-delete">
                        <span class="glyphicon glyphicon-remove pull-right list-delete-item" aria-hidden="true"></span>
                    </a>
                </li>
            {% else %}
                <li class="text-danger text-center">no suppliers were found</li>
            {% endfor %}
        </ul>
        <div class="text-center">
            <a href="{{ path('supplier_create') }}" class="btn btn-lg btn-info" role="button">Add</a>
        </div>
    </div>
{% endblock %}
    {% block controls %}
    {% endblock %}
    {% block html_bottom %}
        <!-- modal "delete" -->
        <div class="modal fade" id="confirm-delete" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Supplier delete confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>You are about to delete supplier, this is cannot be undone. Are you sure?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger btn-ok btn-delete">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /modal -->
    {% endblock %}
    {% block js_bottom %}
        <script src="{{ asset('js/jquery.cookie.js') }}"></script>
        <script>
            var $modal = $('#confirm-delete');
            $('.list-delete-item').on('click', function () {
                $('.btn-delete', $modal).data('href', $(this).closest('a').data('href'));
            });
            $('.btn-delete', $modal).on('click', function () {
                var href = $(this).data('href'),
                        csrftoken = $.cookie('csrftoken')
                        ;
                if (href) {
                    $.post(href, {'csrfmiddlewaretoken': csrftoken}, function () {
                        window.location.reload();
                    });
                }
            });
        </script>
    {% endblock %}